* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('./assets/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  color: white;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  background-color: rgba(169, 169, 169, 0.5);
  box-shadow: 0px 2px 50px rgba(169, 169, 169, 0.5);
}

header .logo {
  font-size: 24pt;
  font-weight: bold;
}

#menu {
  list-style: none;
  display: flex;
  gap: 10px;
}

#menu li a {
  color: white;
  text-decoration: none;
  transition: .2s;
}

#menu li a:hover {
  color: rgba(255, 255, 255, 0.5);
}
